* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    height: 50px;
    background-color: rgb(0, 0, 0, .5);
}

.sect {
    height: 100%;
    background-color: aqua;
}

.subSection {
    height: 50%;
    background-color: bisque;
}

.sectHome {
    background-image: url("../img/header.jpg");
    background-size: cover;
    overflow: hidden;
}

.sectAbout {
    background-image: url("../img/s2.png");
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.sectProjects {
    background-image: url("../img/s3.jpg");
    background-size: cover;
    overflow: hidden;
}

.sectContact {
    background-image: url("../img/s2.png");
    background-size: cover;
    overflow: hidden;
}
